docker run --rm -d -p ${DB_PORT}:3306 -h 127.0.0.1 -v ${PWD}/_data/mysql:/var/lib/mysql -e MYSQL_DATABASE=${DB} -e MYSQL_USER=${DB_USER} -e MYSQL_PASSWORD=${DB_PASSWORD} -e MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWORD} --name ${DOCKER_DB_CONTAINER_NAME} mysql:5.7 --character-set-server=utf8mb4 --collation-server=utf8mb4_general_ci

